:root {
  --base-bg: #c5fffd;
  --base-btn: #8b8bae;

  --reserved-1: #8b8bae;
  --reserved-2: #526760;
  --reserved-3: #374b4a;

  --base-fam: "Engagement";
}

body {
  background-color: lightblue;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}

.title {
  font-family: var(--base-fam, "Sans-serif");
}
