:root {
  --base-bg: #c5fffd;
  --base-btn: #8b8bae;

  --reserved-1: #8b8bae;
  --reserved-2: #526760;
  --reserved-3: #374b4a;

  --base-fam: "Pacifico";
}

body,
h1 {
  margin: 0;
  padding: 0;
}

body {
  background-color: lightblue;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}

.title,
.url-parser {
  padding-top: 20px;
}

.title {
  font-family: var(--base-fam, "Sans-serif");
}

.url-parser {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.input {
  border: 0;
  border-radius: 5px;
  width: 30%;
  padding-top: 5px;
  padding-bottom: 5px;
  max-width: 250px;
}

.button {
  border-radius: 15px;
  cursor: pointer;
  padding-top: 5px;
  padding-bottom: 5px;
  max-width: 150px;
}

.button--submit {
  border: 0;
  background-color: var(--base-btn);
  color: #ffffff;
  text-transform: uppercase;
  width: 20%;
  margin-top: 20px;
}

.gallery {
  columns: 3 200px;
  column-gap: 1rem;
  margin: 0 auto;
  padding: 0;
  width: 95%;
  list-style-type: none;
}

.gallery__item {
  max-width: 100%;
}

.image {
  width: 100%;
}
